.catalogue-container{
    margin-bottom: 20px;
    width: 100%;
    padding: 30px;
}
.catalogues{
    display: flex;
    align-items: center;
}
.items{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 40px;
    column-gap: 20px;
    width: 100%;
}
.items > img {
    width: 100%;
    border-radius: 50%;
}