.l-input{
    background-color: transparent;
    width: 90%;
    max-width: 350px;
    border: none;
    margin: 10px;
    border-bottom: 1px solid black;
    border-radius: 0;
    color: white;
    outline: none;
}
.l-input::placeholder{
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.submit{
    width: 40%;
    align-self: center;
    border: none;
    border-radius: 20px;
    height: 5vmax;
    background-color: rgb(105 8 237 / 64%);
    max-width: 170px;
    max-height: 40px;
}